@model IEnumerable<Models.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Products</h1>

<p>
    <a asp-action="Create">Add a new Product</a>
</p>
<table class="table">
    <thead>
        <tr class="table-secondary">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary">
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductRating)
            </td>
            <td>
                <ul class="nav nav-underline">
                    <li class="nav-item">
                            <a class="badge bg-info nav-link" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                    <li />
                    <li class="nav-item">
                            <a class="badge bg-info nav-link" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                    <li />
                    <li class="nav-item">
                            <a class="badge bg-info nav-link" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    <li />
                </ul>
            </td>
        </tr>
}
    </tbody>
</table>
